<html>
    <head>
        <title>The Gossip Project</title>
        <link rel="shortcut icon" type="image/png" href="https://cdn.discordapp.com/emojis/1094966135285370892.webp?size=96&quality=lossless"/>
    </head>
    <body>
        <header>
            <h1>Mon super site de gossip !</h1>
        </header>
        <main>
            <p id="welcome"><strong> Bienvenue a toi ! </strong>il est <%= Time.now.strftime("%H:%M") %></p>
            <a href="/gossips/new"><input value="Tu peux créer un potin ici" type="button"></a>
            <div class="container">
                <% gossips.each do |gossip| %>
                <div class="gossip">
                    <img src="https://cdn.discordapp.com/emojis/1094966135285370892.webp?size=96&quality=lossless" />
                    <p class="author"><%= gossip.author %> a écrit le <%= gossip.time %></p><br/>
                    <p class="content"><%= gossip.content %></p><br/>
                </div>
                <% end %>
            </div>
        </main>
    </body>
</html>

<style>
    body{
        margin: auto 20%;
        font-family: arial, sans-serif ;
        background-color: #F3F3F3;
    }
    h1 {
        color: #2E110B;
        background-color: #D4B3AB;
        text-align: center;
        border-radius: 10px;
    }
    .gossip {
        margin: 20px 0;
        padding: 10px;
        background-color: #F0EBEA;
        border-radius: 10px;
        box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.65);
        -webkit-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.65);
        -moz-box-shadow: 2px 2px 9px -1px rgba(0,0,0,0.65);
    }
    #welcome {
        font-size: 18px;
        margin: 10px 0;
    }
    p {
        margin: 10px;
    }
    .container {
        margin-top: 50px;
    }
    .author {
        font-size: 20px;
    }
    .content{
        text-align:justify;
    }
    a {
        text-decoration: none;
    }
    input[type=button] {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
    }
    img {
        width: 50px;
        float: right;
    }
</style>