<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>Gossip n°<%= gossip.id %></h1>
        <p>Author: <%= gossip.author %></p>
        <p>Content: <%= gossip.content %></p>
    </body>
</html>